<div class="mainContainer">
  <h1 class="heading">Change password.</h1>

  <p id="changePassword_message" class="message"></p>
  <p id="changePassword_error" class="error">

  <form
    id="changePwdForm"
    name="changePwdForm"
    action="/Banking/api/changePassword"
    method="post"
  >
    <table>
      <tr>
        <td>
          <label for="changePwdForm_currentPassword"
            >Enter the current password :</label
          >
        </td>
        <td>
          <input
            type="password"
            name="currentPassword"
            id="changePwdForm_currentPassword"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="changePwdForm_newPassword"
            >Enter the new password :</label
          >
        </td>
        <td>
          <input
            type="password"
            name="newPassword"
            id="changePwdForm_newPassword"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="changePwdForm_confirmPassword"
            >Confirm the new password :</label
          >
        </td>
        <td>
          <input
            type="password"
            name="confirmPassword"
            id="changePwdForm_confirmPassword"
          />
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div align="right">
            <input
              type="button"
              value="Change"
              id="changePwdForm_0"
              onclick="submitChangePassword();"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div align="right">
            <input type="reset" value="Reset" class="secondary" />
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
