<div class="mainContainer hidden" id="registerUser_container">
  <h1 class="heading">Register yourself to start using account.</h1>
  <p id="registerUser_message" class="message"></p>
  <p id="registerUser_error" class="error"></p>

  <form
    id="registerUserForm"
    name="registerUserForm"
    action="/Banking/api/registerUser"
  >
    <table>
      <tr>
        <td>
          <label for="registerUser_customerName">Enter your full name </label>
        </td>
        <td>
          <input
            type="text"
            name="customerName"
            id="registerUser_customerName"
            placeholder="eg. Peter Parker"
            required
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="registerUser_contact">Enter your e mail address </label>
        </td>
        <td>
          <input
            type="email"
            name="contact"
            id="registerUser_contact"
            placeholder="eg. consumer@corp.com"
            required
          />
        </td>
      </tr>

      <tr>
        <td><label for="registerUser_password">Create a password </label></td>
        <td>
          <input
            type="password"
            name="password"
            id="registerUser_password"
            required
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="registerUser_confirmPassword">Confirm password </label>
        </td>
        <td>
          <input
            type="password"
            name="confirmPassword"
            id="registerUser_confirmPassword"
            required
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="registerUser_dateOfBirth"
            >Enter your date of birth
          </label>
        </td>
        <td>
          <input
            type="date"
            name="dateOfBirth"
            id="registerUser_dateOfBirth"
            placeholder="DD/MM/YYYY"
            required
          />
        </td>
      </tr>

      <tr>
        <td><label for="registerUser_gender"> Select your gender </label></td>
        <td>
          <select name="gender" id="registerUser_gender" required>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="registerUser_accountType">Select the account type </label>
        </td>
        <td>
          <select name="accountType" id="registerUser_accountType">
            <option value="SAVINGS">SAVINGS</option>
            <option value="CURRENT">CURRENT</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button
            type="button"
            id="registerUser_0"
            onclick="submitRegisterUser();"
          >
            Register account
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="2"><input type="reset" value="Reset" /></td>
      </tr>
    </table>
  </form>

  <p>Already have an account ?</p>
  <button onclick="showLoginUserContainer()" class="secondary">
    Login here
  </button>
</div>

<div class="mainContainer hidden" id="loginUser_container">
  <h1 class="heading">Welcome back! Login to your account.</h1>
  <p id="loginUser_message" class="message"></p>
  <p id="loginUser_error" class="error"></p>

  <form id="loginUserForm" name="loginUserForm" action="/Banking/api/loginUser">
    <table>
      <tr>
        <td>
          <label for="loginUser_contact">Enter your e mail address </label>
        </td>
        <td>
          <input
            type="email"
            name="contact"
            id="loginUser_contact"
            placeholder="eg. consumer@corp.com"
            required
          />
        </td>
      </tr>

      <tr>
        <td>
          <label for="loginUser_password">Enter your account password </label>
        </td>
        <td>
          <input
            type="password"
            name="password"
            id="loginUser_password"
            required
          />
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <button type="button" id="loginUser_0" onclick="submitLoginUser();">
            Log In
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="2"><input type="reset" value="Reset" /></td>
      </tr>
    </table>
  </form>
  <p>No account ?</p>
  <button onclick="showRegisterUserContainer()" class="secondary">
    Register new account here
  </button>
</div>
