:root {
	--secondary-color :#2667ff;
	--primary-color :#011627;
	--tertiary-color :#E9EAEC;
}

body {
	margin : 0;
	padding : 0;
}

* {
	font-family: Poppins;
	font-size: 17px;
}


.message {
	color : green;
}

.error {
	color : red;
}

#baseContainer,
#loginUser_container,
#registerUser_container {
	width : 50%;
	margin : 0 auto;
}

input,
select,
select option {
	width: 100%;
	padding: 1em;
	line-height: 1.4;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	transition: all 0.35s ease-in-out;
	box-sizing: border-box;
	height: 1.4;
}

input[type=button],
button {
	outline: none;
	margin-top: 20px;
	height: 60px;
	width: 100%;
	color: #fff;
	background-color: var(--secondary-color);
	border-radius: 40px;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

input[type=reset] {
	background-color: var(--tertiary-color);
	border-radius: 40px;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

.secondary {
	width : 320.5px;
	background-color: var(--primary-color);
	color : #fff;
	margin : 0;
}
nav {
	background: var(--primary-color);
	color: #fff;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: var(--primary-color);
}

ul li {
	display: block;
	position: relative;
	float: left;
	background: var(--primary-color);
	cursor: pointer;
}

li ul {
	display: none;
	padding-left:5px;
}

ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
}

ul li a:hover {
	background: var(--tertiary-color);
	color : #000;
}

li:hover > ul {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	background: var(--tertiary-color);
	color : #000;
}

li:hover li a:hover {
	background-color : var(--secondary-color);
	color:#fff;
}

ul ul ul {
	left: 100%;
	top: 0;
}

ul:before, ul:after {
	content: " "; 
	display: table; 
}

ul:after {
	clear: both;
}

table {
	width : 100%;
}

td, th {
	text-align: center;
}


